@import "../../vars.css";

/* .container {
    color: var(--color-text);
} */
.container {
    position: relative;
    /* background-color: rgba(12, 12, 12, 0.6); */
    border-radius: 15px;
    /* padding: 73px; */
    margin-top: 79px;
    z-index: 1;
    margin-left: 5%;
    margin-right: 5%;
}

.title {
    /* padding-top: 5%; */
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 1.75px;
    /* text-transform: uppercase; */
}
.title1 {
    padding-top: 5%;
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 1.75px;
    /* text-transform: uppercase; */
}
.title2 {
    padding-top: 5%;
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 1.75px;
    /* text-transform: uppercase; */
}

.skills {
    /* width: 45%; */
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    align-items: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillImageContainer {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}

.skillImageContainer img {
    width: 55px;
}

.skill p {
    color: var(--color-text);
    font-size: 18px;
    font-family: var(--font-roboto);
    font-weight: 500;
}

@media screen and (max-width: 830px) {
    .skills {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

}